body{
    font-family: Times New Roman ;  
    margin:auto;
    font-size: large;
    box-sizing: border-box;
    width: 95%;
      text-align: center;
      align-items: center;
  }
  
  ul{
   list-style-type: none;   
   overflow: hidden;
   background-color: gray;
   margin: 5px;
   padding: 0px;
  }
  ol{
    list-style-type: none;   
    overflow: hidden;
    background-color: gray;
    margin: 5px;
    padding: 0px;
   }
   .onaangepast{
    float: none;
   }
  li{
  float: left;
  }
  
  li a {
      display: block;
      color: orange;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    }
  
    li a:hover {
      background-color: #111;
      color: white;
    }
  
    .active {
      background-color: #f04c25;
    }
 
  .tekst{
      background-color: gray;
      color: orange;
      border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
  
  .tekst{
    color: orange;
  }

  caption{
    color: orange;
  }

  div{
    background-color: gray;
    color: orange;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 5px;
  }
  
  svg{
    margin: 5px;
    float: left;
  }
  footer{ 
    float: right;
    color: orange;
  }

  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("photographer.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color:initial;
    font-size: xx-large;
  }

  .hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: orange;
    background-color: white;
    text-align: center;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .hero-text button:hover {
    background-color: #555;
    color: white;
  }
 .card-image-top{
    height: 200px;
 }
.caroussel-cv{
  height: 150px;
  width: 250px;
}
th, td{
color: orange;
}
.progress{
  height: 25px;
}
.carousel-caption{
  margin-bottom: 20px;
}
.none{
  float: none;
}

select{
  color: orange;
}

button{
  margin-bottom: 20px;
}
label{
  float: left;
}
 


























 